* {
    margin: 0;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    height: 50px;
    overflow: hidden;
    background-color: powderblue;
    text-align: center;
    box-shadow: 0 -2px 3px 3px #000;
}

.nav-logo {
    height: 50px;
    width: auto;
}
  
.nav-item {
    float: left;
}
  
.nav-item a {
    display: block;
    color: #111;
    text-align: center;
    text-decoration: none;
    padding: 15px 10px;
    height: 20px;
    transition: border-bottom 0.3s;
}
  
.nav-item a:hover {
    border-bottom: 5px solid #4CAF50;
}

.nav-post-btn {
    font-size: 120%;
    display: block;
    color: #111;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    height: 20px;
    transition: border-bottom 0.3s;
}

.nav-post-btn:hover {
    cursor: pointer;
    border-bottom: 5px solid #4CAF50;
}

/* CONTENT */
#feed {
    padding: 50px 0;
}

#new-post {
    text-align: center;
    padding-top: 25px;
}

form div input {
    font-size: 150%;
    width: 50%;
    margin: 5px 0;
}

form div button {
    font-size: 125%;
    width: 25%;
}

.hidden {
    display: none;
}

.tile {
    display: flex;
    flex-direction: row;
    width: 800px;
    background-color: powderblue;
    padding: 5px;
    margin: 20px auto;
    box-shadow: 0 0 1px #333;
    border-radius: 3px;
}

.left-div {
    margin: 10px;
    width: 350px;
    overflow: hidden;
    box-shadow: 0 0 1px #333;
}

.tile-img {
    min-width: 350px;
    height: 350px;
    margin-bottom: -5px;
}

.info-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: azure;
}

.user {
    font-size: 110%;
    font-weight: 700;
}

.likes {
    font-size: 110%;
}

.right-div {
    width: 390px;
    padding: 10px;
}

.comment-div {
    background-color: aliceblue;
    height: 275px;
    background-color: #fff;
    overflow: auto;
}

.comment-list {
    list-style-type: none;
    padding: 0 10px;
}

.comment-list li {
    font-size: 90%;
    padding: 10px 0 ;
    border-bottom: 0.5px solid #888;
}

textarea {
    width: 385px;
    height: 75px;
}